In [7]:
# 라이브러리 불러오기
import urllib.request 
import json 
import pandas as pd

In [25]:
# 인증키와 주소
key = '7650532331'
start = 1
end = 52
use_dt = 2022
result = []

for nums in range(1, 53):
    url = f'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key=7650532331&type=json&iYear=2021&numOfRows=1000&pageNo={nums}'

    response = urllib.request.urlopen(url) 
    json_str = response.read().decode('utf-8')
    json_object = json.loads(json_str)

    result += json_object['intercityLeadTimeLists']

data = pd.json_normalize(result)

In [26]:
data.head()

,stdHour,iYear,iStUnitCode,iEdUnitCode,stdYear,sphlDfttNm,sphlDfttCode,sphlDfttScopTypeNm,sphlDfttScopTypeCode,stUnitNm,stUnitCode,edUnitNm,edUnitCode,dirNm,dirCode,trtm,message,code
0,00,None,None,None,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,81.403000000000000000000000,None,None
1,01,None,None,None,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,81.289800000000000000000000,None,None
2,02,None,None,None,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,82.466500000000000000000000,None,None
3,03,None,None,None,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,83.379600000000000000000000,None,None
4,04,None,None,None,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,85.008000000000000000000000,None,None

In [27]:
data.tail()

,stdHour,iYear,iStUnitCode,iEdUnitCode,stdYear,sphlDfttNm,sphlDfttCode,sphlDfttScopTypeNm,sphlDfttScopTypeCode,stUnitNm,stUnitCode,edUnitNm,edUnitCode,dirNm,dirCode,trtm,message,code
5053,19,None,None,None,2021,추석,3,D+3,7,목포,509,서울,101,귀경방향,2,249.412800000000000000000000,None,None
5054,20,None,None,None,2021,추석,3,D+3,7,목포,509,서울,101,귀경방향,2,249.353000000000000000000000,None,None
5055,21,None,None,None,2021,추석,3,D+3,7,목포,509,서울,101,귀경방향,2,270.566333333333333333333333,None,None
5056,22,None,None,None,2021,추석,3,D+3,7,목포,509,서울,101,귀경방향,2,268.355000000000000000000000,None,None
5057,23,None,None,None,2021,추석,3,D+3,7,목포,509,서울,101,귀경방향,2,224.933000000000000000000000,None,None

In [31]:
drop_cols = ['iYear', 'iStUnitCode', 'iEdUnitCode', 'message', 'code']
data.drop(drop_cols, axis=1, inplace=True)

In [32]:
data.columns

Index(['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttCode',
       'sphlDfttScopTypeNm', 'sphlDfttScopTypeCode', 'stUnitNm', 'stUnitCode',
       'edUnitNm', 'edUnitCode', 'dirNm', 'dirCode', 'trtm'],
      dtype='object')

In [42]:
data.columns = ['시간', '연도', '연휴이름', '연휴이름코드',
       '연휴기간', '연휴기간코드', '출발지역', '출발지역코드',
       '도착지역', '도착지역코드', '방향', '방향코드', '소요시간']

In [43]:
data.head()

,시간,연도,연휴이름,연휴이름코드,연휴기간,연휴기간코드,출발지역,출발지역코드,도착지역,도착지역코드,방향,방향코드,소요시간
0,00,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,81.403000000000000000000000
1,01,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,81.289800000000000000000000
2,02,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,82.466500000000000000000000
3,03,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,83.379600000000000000000000
4,04,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,85.008000000000000000000000

In [45]:
data['소요시간'] = data['소요시간'].astype(float)
data['소요시간'] = round(data['소요시간'], 3)

In [48]:
data.head()

,시간,연도,연휴이름,연휴이름코드,연휴기간,연휴기간코드,출발지역,출발지역코드,도착지역,도착지역코드,방향,방향코드,소요시간
0,00,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,81.403
1,01,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,81.290
2,02,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,82.466
3,03,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,83.380
4,04,2021,연말연시,1,D,4,서울,101,대전,115,귀성방향,1,85.008

In [49]:
data.to_csv('도시간 소요시간.csv')